:host {
  display: block;
  padding: 16px 16px;
}

.rester-back {
  position: fixed;
  top: 0;
  left: 16px;
}

.register-subtitle {
  color: var(--gray-color);
  display: block;
  margin-bottom: 20px;
}

.register-form {
  display: grid;
  row-gap: 5px;
}

.title {
  margin: 0;
  font-weight: bold;
}
